.user-list-one-user-container {
    flex-direction: column;
    margin-top: 2em;
    display: flex;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 10px 10px 102px 20px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.project-list-one-project-container.position-title {
    color: #BA1200;
}

.user-card-title {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.about-p {
    word-wrap: break-word;
    margin-bottom: 1.5em;
}