.profile-username {
    font-weight: 500;
}

.remove-tag-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.link-image-and-text {
    display: flex;
}

.profile-links-container {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.profile-remove-link-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    color: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.new-tag-button {
    border-radius: 50%;
    height: 20px;
    margin-left: 2em;
    width: 20px;
    border: none;
    cursor: pointer;
}

.profile-tags-container {
    width: 100%;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}