.profile-username {
    font-weight: 500;
}

.new-tag-button {
    cursor: pointer;
    height: 10px;
    background: #9DD1F1;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 50%;
}



.remove-tag-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.link-image-and-text {
    display: flex;

}