.profile-username {
    font-weight: 500;
}

.remove-tag-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.link-image-and-text {
    display: flex;
}

.profile-links-container {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.profile-remove-link-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    color: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.new-tag-button {
    border-radius: 50%;
    height: 20px;
    margin-left: 2em;
    width: 20px;
    border: none;
    cursor: pointer;
}


.profile-tags-container {
    width: 100%;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.send-message-icon {
    height: 40px;
}

.send-message-icon:hover {
    cursor: pointer;
    scale: 1.2;
    rotate: 5deg;
    transition: all 0.2s;
}

.profile-picture {
    height: 80px;
    width: 80px;
    margin-right: 1em;
    border-radius: 50%;
}

.user-img-userName {
    display: flex;
}

.profile-picture-and-username {
    display: flex;
    align-items: center;
}