@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.red-button {
    background: #BA1200;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    padding: .8rem;
    border: none;
    cursor: pointer;
}

.red-button:hover {
    background: #fc1900;
}

.red-button.not-important {
    background-color: white;
    border: .2px solid black;
    color: black;
}

.red-button.not-important:hover {
    filter: invert();
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.application-box {
    width: 80%;
    padding: 2rem 10%;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031927;
    color: white;
    width: 100%;
}

.header-logo {
    width: 50px;
    height: 50px;
}

.formInput {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput input {
    width: 100%;
}

.formInput button {
    width: 50%;
}

.login-form {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    border: 1px solid;
    height: 3rem;
    font-size: medium;
}

.profile-description {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    resize: none;
    border: none;
    height: 200px;
}

.pop-up-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
}

.pop-up {
    background-color: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.pop-up-button-container {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    width: 100%;
}

.pop-up-button-container>button {
    width: 40%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill-tag {
    background: rgb(233, 255, 254);
    border-radius: 10px;
    border: 1px solid #508AA8;
    color: #508AA8;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    margin-right: 10px;
    justify-content: space-around;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.skill-tag button {
    border: none;
    background: #BA1200;
    color: white;
    cursor: pointer;
}

.about-header {
    display: flex;
    justify-content: space-between;
}

.edit-button {
    background-color: white;
    border: none;
    cursor: pointer;
}


.flex {
    display: flex;
}


.add-tag-list-container {
    margin-top: .2em;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.add-tag-list-container button {
    border: none;
    background-color: white;
}

.add-tag-list {
    margin-top: 1em;
}

.pop-up-select {
    width: 40%;
    height: 2em;
}