@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.red-button {
    background: #BA1200;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    border: none;
    width: 12rem;
}


* {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.landing-page-logo {
    width: 10rem;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #031927;
    color: white;
}

.left-header {
    display: flex;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin: 5rem 35rem;
}

input {
    width: 12rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    border: 1px solid;
    height: 3rem;
    font-size: medium;
}