.fullfilled {
    margin: 1rem;
    text-align: center;
    color: #BA1200;
    font-weight: 800;
}

.apply-button {
    align-self: center;
    width: 50%;
    margin-top: 1rem;
    background-color: #BA1200;
    font-size: large;
    border-radius: 1rem;
    font-weight: 800;
    color: white;
    border: none;
}

.apply-button:hover {
    background-color: rgb(173, 173, 173);
    color: #BA1200;
}

.fullfilled-div {
    background-color: rgb(143, 143, 143);
    color: white;
    order: 2;
}

.positions-container {
    display: flex;
    flex-direction: column;

}

.application-card {
    height: 100px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 1.5em;
    border: .5px solid black;
}

.project-details-project-owner-name {
    color: #727272;
    font-size: 14px;
    margin-bottom: 4px;
}

.project-details-description {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}